---
interface Props {
  variant?: "primary" | "secondary" | "link";
  size?: "small" | "medium" | "large";
  href?: string;
}

const { variant = "primary", size = "medium", href } = Astro.props;

const baseStyles = "rounded-md focus:outline-none focus:ring";
const variantStyles = {
  primary: "bg-primary text-primary-foreground hover:bg-secondary ",
  secondary: "bg-secondary text-secondary-foreground hover:bg-secondary/50",
  link: "text-primary underline-offset-4 hover:underline text-opacity-80 text-sm",
};
const sizeStyles = {
  small: "px-2 py-1 text-sm",
  medium: "px-4 py-2 text-base",
  large: "px-6 py-3 text-lg",
};

const combinedStyles = `${baseStyles} ${variantStyles[variant]} ${sizeStyles[size]}`;
---

{
  href ? (
    <a href={href} class={combinedStyles}>
      <slot />
    </a>
  ) : (
    <button class={combinedStyles}>
      <slot />
    </button>
  )
}
