---
import Button from "../atoms/Button.astro";
import Text from "../atoms/Text.astro";
import { PROFILE } from "@/content/PROFILE";
import Icon from "../atoms/Icon.tsx";
---

<div class="space-y-4 text-center">
  <Text
    text="Let's chat! I'm always excited to collaborate on new projects or just talk about tech. Drop me a message here:"
    size="lg"
    color="dark"
    style="normal"
  />

  <div class="flex items-center justify-center gap-4">
    {
      PROFILE.contacts.map((contact) => {
        return (
          <Button
            href={contact.link}
            variant="secondary"
            size="large_without_margin"
            aria-label={`Contact via ${contact.platform}`}
            className="flex items-center justify-center transition-transform hover:scale-105"
          >
            <Icon
              icon={contact.platform}
              size="lg"
              color="none"
              className="transition-transform hover:scale-125"
            />
            <Text
              text={contact.actionText}
              size="sm"
              color="dark"
              style="normal"
              className="hidden xl:inline"
            >
              {contact.actionText}
            </Text>
          </Button>
        );
      })
    }
  </div>

  <Text
    text="I typically respond within a few hours. Can't wait to connect and explore how we can work together! 😊"
    size="sm"
    color="dark"
    style="normal"
    className="italic"
  />
</div>
