---
import IndexLayout from "./IndexLayout.astro";
import Tags from "../components/Tags.astro";

const { frontmatter } = Astro.props;
const { title, description, tags, technologies } = frontmatter;
---

<IndexLayout title={title} description={description} subTitle={title}>
  <div class="flex w-full flex-col justify-center">
    {
      tags && (
        <div class="mx-auto pb-4">
          <Tags tags={tags} />
        </div>
      )
    }
    {
      technologies && (
        <div class="mx-auto pb-4">
          <Tags tags={technologies} />
        </div>
      )
    }

    <article class="mdx-content">
      <!-- Aquí se inserta el contenido del MDX -->
      <slot />
    </article>
  </div>
</IndexLayout>

<style is:global>
  .mdx-content {
    width: 100%;
    max-width: 100%;
    font-family:
      "Inter",
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      "Helvetica Neue",
      Arial,
      sans-serif;
    display: flex;
    flex-direction: column;
  }

  .mdx-content h2 {
    @apply my-4 pl-4 text-left text-base font-bold md:text-lg;
  }

  .mdx-content h3 {
    @apply my-2 pl-4 text-left text-sm font-bold italic md:text-base;
  }

  /* Paragraphs */
  .mdx-content p {
    @apply text-sm md:text-base;
  }

  /* Links */
  .mdx-content a {
    @apply text-accent;
  }

  .mdx-content a:hover {
    @apply underline;
  }

  /* Lists */
  .mdx-content ul,
  .mdx-content ol {
    @apply my-1 pl-8 text-sm md:text-base;
  }

  .mdx-content li {
    @apply my-0;
  }

  .mdx-content pre {
    @apply m-2 my-4 overflow-x-auto rounded-2xl p-4 md:m-20;
  }

  .mdx-content code {
    @apply font-mono text-sm text-primary;
  }
</style>
